*{
    margin: 0%;
    padding: 0%;
    
}
.capa{
    width: 200px;
    border-radius: 15px;

}

.fundo-filmes{
    background-color: whitesmoke;
}

.capa-livro{
    width: 200px;
    border-radius: 15px;
}
.fundo-livros{
    background-color:white;
}
.fundo-titulo{
    background-color: white;
}
.fundo-titulo2{
    background-color: white;
}
.fundo-cabecalho{
    background-color: #383838;
    height: 200px;
    margin: 0px;
    border: dotted 5px rgb(231, 252, 1);
}
#cinele{
    color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:90px;

}
.texto-cabecalho{
color: white;
padding: 15px;
display: flex;
gap: 260px;


}
.cor-texto-cabecalho{
   
    background-color: yellow;
    padding: 0px;
    height: 60px;
    width: 100px;
    color:palevioletred;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
    border-radius: 8px;
    font-family:'Times New Roman', Times, serif;
    
    
}
